body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333; /* dark background */
    overflow: hidden; /* prevents scrolling */
    font-family: 'Arial', sans-serif; 
}

canvas {
    display: block; /* remove extra space below the canvas */
}